force.json
sfdx-project.json
.forceCode/keshava.praveen.d.n@unicef.no.dev/settings.json
.forceCode/keshava.praveen.d.n@unicef.no.dev/sfdx-project.json
.forceCode/keshava.praveen.d.n@unicef.no.dev/.sfdx/sfdx-config.json
.forceCode/keshava.praveen.d.n@unicef.no.dev/.sfdx/typings/lwc/apex.d.ts
.forceCode/keshava.praveen.d.n@unicef.no.dev/.sfdx/typings/lwc/engine.d.ts
.forceCode/keshava.praveen.d.n@unicef.no.dev/.sfdx/typings/lwc/lds.d.ts
.forceCode/keshava.praveen.d.n@unicef.no.dev/.sfdx/typings/lwc/schema.d.ts
.forceCode/keshava.praveen.d.n@unicef.no.dev/.sfdx/typings/lwc/user.d.ts
.sfdx/sfdx-config.json
.sfdx/typings/lwc/apex.d.ts
.sfdx/typings/lwc/engine.d.ts
.sfdx/typings/lwc/lds.d.ts
.sfdx/typings/lwc/schema.d.ts
.sfdx/typings/lwc/user.d.ts
.vscode/settings.json
